name: Test Hemoglobin

env:
  name: hemoglobin
  command: hemoglobin

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Run linters
        run: |
          uv run black --check --diff hemoglobin tests
  security-scanner:
    name: Security Scanner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Run Bandit
        run: |
          uv run bandit -r hemoglobin
  test:
    name: Test the library
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Python
        run: uv python install
      - name: Test
        run: uv run -m unittest discover tests
  functional-test:
    name: Test the cli by running it
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Python
        run: uv python install
      - name: Run the cli
        run: |
          uv run -m ${{ env.name }} --help
          uv run -m ${{ env.name }} "${{secrets.GRAMMARBOT_APIKEY}}" samples/example.txt
  api-length-check:
    name: "Checks the max chars in the CLI thousands:"
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        text-length-thousands: [2, 5, 7, 8, 9, 10]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run the cli with large files
        run: |
          python3 -c 'print(open("./samples/long_1000c.txt", "r").read()*${{ matrix.text-length-thousands }})' > test.txt
          wc -c test.txt
          python3 -m ${{ env.name }} --log INFO "${{secrets.GRAMMARBOT_APIKEY}}" test.txt
